.repeatedBlock {
  padding: 0 8px;
  .items {
    position: relative;
    height: 100%;
    margin-bottom: 8px;
    .addButton {
      padding: 8px;
      background-color: #fff;
      margin-top: 8px;
      border: 1px solid #e3e3e3;
      border-radius: 2px;
    }
    .item {
      display: flex;
      flex-direction: column;
      border: 1px solid #e3e3e3;
      padding: 8px;
      border-radius: 2px;
      position: relative;
      .expand {
        display: flex;
        gap: 8px;
        align-items: flex-end;
      }
      .objects {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
      .footerBtns {
        display: flex;
        gap: 8px;
        button {
          width: 50%;
          margin-top: 8px;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: calc(33% - 4px);
        &.values {
          border: 1px solid #e3e3e3; // change this
          padding: 8px;
          gap: 0;
          border-radius: 2px;
          flex-direction: column;
        }
      }
      .select {
        width: 30%;
        display: flex;
        gap: 8px;
      }
      .fields {
        width: 100%;
        display: flex;
        gap: 4px;
        flex-wrap: wrap;
        &.border {
          border-radius: 2px;
          border: 1px solid #e3e3e3;
          padding: 8px;
        }
        .loader {
          margin-inline: auto;
        }
        .emptyBlock {
          display: block;
          padding: 20px 0;
          width: 100%;
          text-align: center;
          svg {
            margin-inline: auto;
            width: 50px;
            height: 50px;
            path {
              fill: #6e8bb7;
            }
          }
          p {
            font-size: 16px;
            color: #6e8bb7;
          }
        }
        .field {
          cursor: pointer;
          background-color: #f0f0f0;
          border: 1px solid #e3e3e3;
          border-radius: 2px;
          padding: 4px 8px 4px 0;
          font-size: 12px;
          font-weight: 600;
          white-space: nowrap;
          display: flex;
          align-items: center;
        }
      }
      margin: 12px 0 0;
    }
  }
}
