.container {
  height: 100%;

  .tab {
    // width: 48px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid transparent;
    color: #000;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }

    &.active {
      background-color: #007AFF;
      color: #fff;
    }
  }
}