.form {
    margin-top: 24px;


    .formArea {
        // padding-top: 24px;
    }


    .label {
        color: #344054;
        font-size: 14px;
        margin-bottom: 6px;
        margin-top: 20px;
    }

}

