.block {
  height: 100vh;

  .row {
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid #ffffff26;
    cursor: pointer;
    border-left: 3px solid transparent;

    // &:hover {
    //   background-color: $row-hover;
    // }

    // &.active {
    //   background-color: $dark-secondary;
    //   border-left-color: $primary;
    // }
  }
}