



.row {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 12px;
  cursor: pointer;
  transition: 0.1s ease background-color;
  height: 40px;
  color: #fff;
  box-sizing: border-box !important;

  &.main {
    // border-bottom: solid rgba(255, 255, 255, 0.15)
  }

  .btnBlock {
    display: flex;
    align-items: center;
    gap: 5px;
    // opacity: 0;
  }

  &:hover {
    background-color: #e5e9eb34;

    .btnBlock {
      opacity: 1;
    }
  }

  .title {
    font-weight: 500;
    flex: 1;
  }

  .icon {
    color: #BBBEC0;
  }


  &.active {
    background-color: #2B363B;
    // color: #0361CC !important;
    
    .icon {
      // color: #0361CC;
    }

    .divider {
      // background-color: #0361CC;
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.15);
}