.wrapper {
  button {
    border: 1px solid #E5E9EB;
    border-radius: 4px;
    min-width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    transition-duration: .2s;

    &:hover {
      border-color: #0067F4;
    }
  }
}